*{
	padding: 0px;
	margin: 0px;

}

.navbar{
	display: flex;
	min-height: 70px;
	justify-content: space-between;
	background-color: #141E30;

}

.navbar h2{
	display: flex;
	align-self: flex-start;
	color:#ff0084;
	font-family: 'Berkshire Swash', cursive;
	letter-spacing: 2px;
	padding: 16px;
	font-size: 30px;
	margin-left: 20px;

}

#more{
	display: flex;
	align-self: flex-end;
	justify-content: space-between;
	padding: 20px;
	font-size: 20px;
	align-items: center;

}

.features{
	display: flex;
	align-items: center;
	width: 140px;
	color: white;
	text-align: center;
	font-family: 'Berkshire Swash', cursive;
	letter-spacing: 1px;

}

.features:hover{
	cursor: pointer;
	color: #66ff00;

}

.img{
	border: 3px solid white;
	height: 330px;
	width: 400px;
	flex-grow: 1;

}

.container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	margin-top: 2px;

}
